.theme-control {
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 1;
  padding: .2rem .4rem;
  border-radius: 5px;
  background: transparent;
  border: 2px solid;
  color: var(--theme-control-color);
}
