BODY {
  display: flex;
  min-height: 100vh;
  background: var(--body-bg);
  font: 16px/1.4 Georgia, serif;
  color: var(--body-color);
}

A {
  transition: all .25s;
  color: var(--link-color);

  &:hover {
    text-decoration: none;
    color: var(--link-color-hover);
  }

  &[href*="http"]::after {
    // disable icon on external links
    // content: "";
    display: inline-block;
    width: .9em;
    height: .9em;
    margin-left: .1em;
    vertical-align: middle;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z'/%3E%3C/svg%3E");
    background: currentColor;
    opacity: .5;
    transition: inherit;
  }

  &[href*="http"]:hover::after {
    opacity: 1;
  }
}

.marked-link {
  box-shadow: 0 0 0 2px;
  border-radius: 3px;
}

UL {
  list-style-type: none;
}

H1,
H2,
H3,
H4 {
  margin-top: 0;
  font-family: RobotoSlab, Georgia, serif;
  font-weight: 600;

  @supports (font-variation-settings: normal) {
    font-family: RobotoSlabVariable, Georgia, serif;
  }
}

UL,
LI {
  margin: 0;
  padding: 0;
}

DD + DT {
  margin-top: 1rem;
}

MARK {
  box-shadow:
    0 0 0 2px var(--mark-bg),
    0 0 0 2px var(--mark-bg) inset;
  background: var(--mark-bg);
  color: var(--mark-color);
}

PRE {
  white-space: pre-line;
}

DFN {
  font-weight: bold;
}

P:first-child {
  margin-top: 0;
}

.hidden-content {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.note {
  padding: 1em;
  background: var(--note-bg);
  border-left: 10px solid var(--note-border);
  border-radius: 3px;
}

.table-data--centered {
  text-align: center;
}

.self-link {
  opacity: 0;
  color: inherit;

  &::before {
    content: "#";
  }

  DT:hover &,
  H2:hover &,
  H3:hover & {
    opacity: 1;
  }
}
