BODY[data-theme="seagreen"] {
  background: $col-1;
  font: 16px/1.4 Georgia, serif;
  color: darken($col-5, 8%);
}

[data-theme="seagreen"] A {
  color: $col-5;
}

[data-theme="seagreen"] MARK {
  box-shadow: 0 0 0 2px darken($col-4, 5%);
  background: darken($col-4, 5%);
  color: lighten($col-2, 10%);
}

/* THEME CONTROL
--------------------------------------------- */

[data-theme="seagreen"] .theme-control {
  color: $col-4;
}

/* CONTENT
--------------------------------------------- */

[data-theme="seagreen"] .content {
  &__item {
    border-color: $col-4;
  }

  &__title {
    color: $col-4;
  }
}
/* Values */
[data-theme="seagreen"] .content-values__term {
  color: darken($col-4, 10%);
}

/* NAV
--------------------------------------------- */
[data-theme="seagreen"] .nav {
  overflow: hidden;
  background: $col-5;

  &:before {
    width: 10px;
    background: $col-4;
  }

  &__subheader {
    font-weight: normal;
    font-size: 1.3rem;
    color: darken($col-5, 20%);
    text-shadow: 2px 2px 0 $col-5, 3px 3px 0 darken($col-5, 20%);

    @media ( min-width: 1130px ) {
      font-size: 1.45rem;
    }
  }

  A {
    color: lighten($col-3, 10%);

    &:hover {
      color: $col-2;
    }
  }

  &__item--current A {
    font-weight: normal;
    color: $col-1;
  }
}

[data-theme="seagreen"] .nav__marker {
  background: $col-1;
  box-shadow: 0 0 0 10px $col-4;
}

/* DEMO
--------------------------------------------- */
[data-theme="seagreen"] .demo-values__control {
  background: $col-4;
  color: $col-2;

  &--current {
    background: $col-5;
    color: $col-1;
  }
}

[data-theme="seagreen"] .demo__view {
  border-color: $col-3;
}

[data-theme="seagreen"] .demo__code {
  background: $col-2;
  color: $col-5;
}

[data-theme="seagreen"] .parent {
  border-color: $col-4;
}

[data-theme="seagreen"] .child {
  background-color: $col-3;
  border-color: $col-1;
}

[data-theme="seagreen"] .child:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.25em' style='font: 30px/1 Georgia, serif' fill='%233B8686' fill-opacity='.7'%3E 1 %3C/text%3E%3C/svg%3E");
}

[data-theme="seagreen"] .child:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.25em' style='font: 30px/1 Georgia, serif' fill='%233B8686' fill-opacity='.7'%3E 2 %3C/text%3E%3C/svg%3E");
}

[data-theme="seagreen"] .child:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.25em' style='font: 30px/1 Georgia, serif' fill='%233B8686' fill-opacity='.7'%3E 3 %3C/text%3E%3C/svg%3E");
}

[data-theme="seagreen"] .child:nth-child(4) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.25em' style='font: 30px/1 Georgia, serif' fill='%233B8686' fill-opacity='.7'%3E 4 %3C/text%3E%3C/svg%3E");
}

[data-theme="seagreen"] .child:nth-child(5) {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.25em' style='font: 30px/1 Georgia, serif' fill='#3B8686' fill-opacity='.7'%3E 5 %3C/text%3E%3C/svg%3E");
}

/* PROJECT LINKS
--------------------------------------------- */

[data-theme="seagreen"] .project-link--git {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%2306293d' d='M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z'%3E%3C/path%3E%3C/svg%3E");
}

[data-theme="seagreen"] .project-link--twitter {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%2306293d' d='M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z'%3E%3C/path%3E%3C/svg%3E");
}
