@font-face {
  font-family: RobotoSlabVariable;
  src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: RobotoSlab;
  src: url("../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: RobotoSlab;
  src: url("../fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: RobotoSlab;
  src: url("../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
