$col-1: #CFF09E;
$col-2: #A8DBA8;
$col-3: #79BD9A;
$col-4: #3B8686;
$col-5: #0B486B;

@mixin aside-width {
    width: 23%;
    min-width: 230px;
    max-width: 400px;
}

@import 'normalize';
@import 'global/base';
@import 'global/layout';
@import 'blocks/demo';
@import 'blocks/nav';
